@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;600;700;800;900&display=swap');

.initial-Screen {
    width: 375px;
    height: 667px;
    background-color: #FB6B6B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.initial-Screen img {
    width: 136px;
    height: 161px;
    margin: 0 0 30px 0;
}

.initial-Screen div {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    font-weight: 400;
    line-height: 44.7px;
    color: #FFFFFF;
    margin: 0 0 30px 0;
}

.initial-Screen button {
    width: 246px;
    height: 54px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    text-align: center;
    font-family: 'Recursive';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #D70900;
}

.game-Screen {
    width: 375px;
    height: 667px;
    background-color: #FB6B6B;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.banner {
    display: flex;
    align-items: center;
    font-family: 'Righteous';
    font-size: 36px;
    font-weight: 400;
    line-height: 44.7px;
    color:#FFFFFF;
    margin: 42px 0 53px 0;
}
.banner img {
    width: 52px;
    height: 60px;
    margin: 0 20px 0 0;
}

.question {
    width: 300px;
    height: 65px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 22px 0 15px;
    margin: 0 0 25px 0;
    cursor: pointer;
}

.question ion-icon {
    width: 20px;
    height: 23px;
    color: #333333;
}
.question p {
    font-family: 'Recursive';
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #333333;
}

.risk p{
    text-decoration: line-through;
}

.red p{
    color: #FF3030;
}

.yellow p{
    color: #FF922E;
}

.green p{
    color: #2FBE34;
}

.open-Question {
    width: 300px;
    min-height: 131px;
    border-radius: 5px;
    margin: 0 0 25px 0;
    background-color: #FFFFD4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    position: relative;
}
.front-Face {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    transform-style: preserve-3d;
}

.back-Face {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.front-Face p,
.back-Face p {
    width: 90%;
    margin: 18px 0 20px 0;
    text-align:left;
    font-family: 'Recursive';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #333333;
}

.back-Face div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-Face button {
    width: 85px;
    height: 37px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-family: 'Recursive';
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: #FFFFFF;
    cursor: pointer;
}

.back-Face button:nth-child(1) {
    background-color: #FF3030;
}

.back-Face button:nth-child(2) {
    background-color: #FF922E;
}

.back-Face button:nth-child(3) {
    background-color: #2FBE34;
}

.front-Face img {
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: 6px;
    right: 15px;
    cursor: pointer;
}

.rotate-Back {
    transform: rotateY(0deg);
}

.rotate-Front {
    transform: rotateY(-180deg);
}

.baseboard {
    width: 375px;
    min-height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.final-Message div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Recursive';
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    color: #333333;
    margin: 16px 0 14px 0;
}

.final-Message img {
    width: 23px;
    margin: 0 12px 0 0;
}

.final-Message p {
    font-family: 'Recursive';
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #333333;
    margin: 0 0 14px 0;
}

.questions-Complete {
    font-family: 'Recursive';
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    color: #333333;
}

.answer-Icon {
    font-size: 23px;
}

.hidden {
    display: none;
}